@import './styles/_fonts.scss';
@import './styles/_variables.scss';
@import './styles/_global.scss';

#nav-bar {
  position: fixed;
  z-index: 9;
  padding: 4.5rem 7rem;
  width: 100%;
  left: 0;
  bottom: 0;
  @include linear-gradient(360deg, rgba(0, 0, 0, 0.93), 70%, rgba(18, 18, 18, 0), 100%);

  ul {

    display: flex;
    align-items: flex-end;
    text-align: center;
    list-style: none;

    li {
      margin: 0 50px;

      a {
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 1.8rem;
        line-height: 2.6rem;
        letter-spacing: 1px;
        color: $lightWhite;
        padding: 0 15px;
        position: relative;
        transition: all 0.3s ease;

        &:after {
          content: '';
          position: absolute;
          bottom: -10px;
          left: 0;
          right: 0;
          height: 4px;
          background: #55C6D7;
          position: absolute;
          opacity: 0;
          transition: all 0.3s ease;
        }

        &.active,
        &:hover {
          color: $white;
          font-weight: 800;

          &:after {
            opacity: 1;
          }

        }

      }
    }
  }
}

section {

  position: relative;
  width: 100%;
  min-height: 100vh;

  &#landing-page {

    background: $mainbg;


    #globe {
      position: absolute;
      right: 0;
      bottom: 0;
      max-height: 90%;
      max-width: 50%;
      object-fit: contain;
    }


    .wrapper {
      padding-left: 17vw;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 50%;
      padding: 40px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .logo {
        margin: 20vh auto;
        display: block;
      }

      a {
        font-size: 2.2rem;
        letter-spacing: 1px;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          bottom: -10px;
          width: 350px;
          left: 0;
          right: 0;
          margin: auto;
          height: 2px;
          transform: scaleX(0);
          background: $lightBg;
          transition: all 0.3s ease;
        }

        &:hover {
          i {
            color: $lightBg
          }

          &:after {
            transform: none;
          }
        }
      }

    }


  }

  .banner {
    position: absolute;
    width: 55.5rem;
    height: 100%;
    max-width: 50%;
    left: 0px;
    top: 0px;
    background: $secondBg;
    opacity: 0.95;
    padding: 7rem;
    overflow: auto;
    z-index: 2;

    .logo {
      margin-bottom: 10vh;
    }

    .banner-title {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      color: $white;
      text-transform: uppercase;
    }


    span,
    p {
      font-family: 'Nunito';
      font-style: normal;
      font-weight: normal;
      font-size: 1.8rem;
      line-height: 2.6rem;
      letter-spacing: 0.02em;
    }

    button {
      width: 234px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      color: $darkBlue;
      background: $lightBg;
      outline: none;
      border: none;
      margin-top: 4rem;
      padding: 10px 0;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        color: $lightBg;
        background: $darkBlue;
        border-radius: 20px;
      }
    }
  }

  .bg {
    background: url('./img/home-bg.jpg') center right no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &#topic-page {
    .bg {
      background: url('./img/topic-bg.jpg') top right no-repeat;
    }

    .logo {
      width: 8.2rem;
    }
  }

  &#accordian-page {
    .bg {
      // Add background image here - image url is "./img/accordian-bg.jpg"
    }

    .banner {
      padding-right: 12rem;
      width: 50rem;
      @include linear-gradient(90deg, rgba(0, 0, 0, 0.93), 76.12%, rgba(0, 0, 0, 0), 95.93%);


      .logo {
        display: none;
      }

      p {
        font-weight: bold;
        border-left: 4px solid $lightBg;
        padding-left: 15px;
      }
    }

    .pre-next {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
      display: block;

      a {
        display: block;
        padding: 40px 20px 5px;
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.6rem;
        letter-spacing: 1px;
        color: $black;
        background: $lightWhite;
        position: absolute;
        transition: all 0.3s ease;
        bottom: 0;
        right: 0;

        &:hover {
          padding: 50px 30px 5px;
          // transform: scale(1.1);
          z-index: 2;

          &:hover:before {
            top: 20px
          }

          &:hover:after {
            top: 29px
          }


        }


        &.next {
          background: $lightBg;

          &:hover {
            @include box-shadow(-6px, 0px, 8px, -4px, rgba(0, 0, 0, 1.29));

          }

        }

        &:before,
        &:after {
          content: '';
          transition: all 0.3s ease;
          position: absolute;
          right: 0;
          top: 15px;
          left: 0;
          margin: auto;
          width: 15px;
          height: 3px;
          background: $black;
          transform: rotate(45deg);
          display: block;
          cursor: pointer;
        }

        &:after {
          transform: rotate(-45deg);
          top: 24px;
        }

        &.pre {
          right: 87px;

          &:hover {
            @include box-shadow(6px, 0px, 8px, -4px, rgba(0, 0, 0, 1.29));

          }

          &::before {
            transform: rotate(-45deg);
          }

          &::after {
            transform: rotate(45deg);
          }
        }


      }
    }

    .accordian-wrapper {
      display: block;
      padding: 7rem 3rem;
      width: calc(100% - 50rem);
      margin: auto 0 auto auto;
      overflow: hidden;

      article {
        // add missing style

        h3 {
          // add missing style
          position: relative;
          cursor: pointer;
          background: $lightBg;
          color: $black;
          position: relative;
          z-index: 1;

          &:hover {
            @include box-shadow(0px, 10px, 5px, 0px, rgba(204, 204, 204, 0.4));
          }

          &:before,
          &:after {
            content: '';
            position: absolute;
            right: 20px;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 10px;
            height: 2px;
            background: $black;
            transform: rotate(45deg);
            cursor: pointer;
            transition: all 0.3s ease;
          }

          &:after {
            transform: rotate(-45deg);
            right: 26px;
          }
        }

        p {
          color: $black;
          background: $white;
          position: absolute;
          padding: 20px;
          visibility: hidden;
          opacity: 0;
          display: block;
          margin: 0;
          width: 100%;
          transition: all 0.3s ease;
          z-index: 3;
        }

        &.show-content {
          h3 {
            @include box-shadow(0px, 10px, 5px, 0px, rgba(204, 204, 204, 0.4));

            &:before {
              transform: rotate(-45deg)
            }
          }

          h3:after {
            transform: rotate(45deg);
          }

          p {
            visibility: visible;
            opacity: 1;
          }
        }

      }
    }
  }
}


@import './styles/_responsive.scss';